{% extends 'base_backoffice.html.twig' %}

{% block title %}Publicite index{% endblock %}

{% block body %}

    <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>Publicites</h5>
                                        <form class="d-inline-flex">
                                            <a href="{{ path('app_publicite_backoffice_new') }}" class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus"></i>Add New
                                            </a>
                                        </form>
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Image</th>
                                                    <th>Produit</th>
                                                    <th>Duree</th>
                                                    <th>actions</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            {% for publicite in publicites %}
                                                <tr>
                                                    <td>{{ publicite.id }}</td>
                                                    <td>{{ publicite.image }}</td>
                                                    <td>{{ publicite.produit }}</td>
                                                    <td>{{ publicite.duree ? publicite.duree|date('Y-m-d H:i:s') : '' }}</td>

                                                    <td>
                                                        <ul>

                                                            <li>
                                                                <a href="{{ path('app_publicite_backoffice_edit', {'id': publicite.id}) }}">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                            {{ include('publicite_backoffice/_delete_form.html.twig') }}
                                                            </li>
                                                            
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% else %}
                                            <tr>
                                            <td colspan="6">no records found</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

{% endblock %}