{% extends 'base_backoffice.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}

    <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>Categories</h5>
                                        <form class="d-inline-flex">
                                            <a href="{{ path('app_categorie_backoffice_new') }}" class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus"></i>Add New
                                            </a>
                                        </form>
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Nom</th>
                                                    <th>Code</th>
                                                    <th>Description</th>
                                                    <th>Option</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            {% for categorie in categories %}
                                                <tr>
                                                    <td>
                                                        <div class="table-image">
                                                            <img src="{{ asset('images/users/1.jpg') }}" class="img-fluid" alt="">
                                                            <!-- <td>{{ categorie.image }}</td> --> 
                                                        </div>
                                                    </td>

                                                    <td>{{ categorie.nom }}</td>

                                                    <td>{{ categorie.code }}</td>

                                                    <td>{{ categorie.description }}</td>

                                                    <td>
                                                        <ul>

                                                            <li>
                                                                <a href="{{ path('app_categorie_backoffice_edit', {'id': categorie.id}) }}">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                            <!-- <li>
                                                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                    data-bs-target="#exampleModalToggle">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li> -->

                                                            <li>
                                                            {{ include('categorie_backoffice/_delete_form.html.twig') }}
                                                            </li>
                                                            
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% else %}
                                            <tr>
                                            <td colspan="6">no records found</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

{% endblock %}
