{% extends 'base.html.twig' %}


{% block body %}

{% block javascripts %}
    <script language = "javascript" src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
{% endblock %}
{% block stylesheets %}
    <style>
        #simpleform {
            width:600px;
            border:2px solid grey;
            padding:14px;
        }
        #simpleform label {
            font-size:12px;
            float:left;
            width:300px;
            text-align:right;
            display:block;
        }
        #simpleform span {
            font-size:11px;
            color:grey;
            width:100px;
            text-align:right;
            display:block;
        }
        #simpleform input {
            border:1px solid grey;
            font-family:verdana;
            font-size:14px;
            color:grey;
            height:24px;
            width:250px;
            margin: 0 0 20px 10px;
        }
        #simpleform button {
            clear:both;
            margin-left:250px;
            background:grey;
            color:#FFFFFF;
            border:solid 1px #666666;
            font-size:16px;
        }
    </style>

{% endblock %}





    <div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title d-sm-flex d-block">
                            <h5>Admin List</h5>

                        </div>
                        <div>
                            <div class="table-responsive">
                                <table class="table all-package theme-table table-product" id="table_id">
                                    <thead>
                                    <tr>


                                        <th>User</th>
                                        <th> Email</th>
                                        <th> Nom</th>
                                        <th> Prenom </th>
                                        <th> Telephone</th>

                                    </tr>
                                    </thead>



                                    <div class="example-wrapper">



                                            {%  for a in  admin %}
                                                <tr>
                                                    <td>
                                                        {% if a.imageAdmin %}
                                                            <img src="{{ asset('/images/product/' ~ a.imageAdmin) }}" alt="Uploaded image">
                                                        {% endif %}
                                                    </td>
                                                    <td>  {{ a.emailAdmin }}</td>
                                                    <td>   {{ a.nomAdmin}} </td>
                                                    <td>   {{ a.prenomAdmin }} </td>
                                                    <td>   {{ a.telAdmin }} </td>
                                                    <td> 
                                                        <a href="{{ path('admin_update',  {'id' : a.id}) }}">Update </a>
                                                        <a href="{{ path('admin_delete',  {'id' : a.id}) }}">Delete </a>

                                                    </td>

                                                    
                                                </tr>
                                            {% endfor %}
                                        </table>
                                        <form action="{{ path('admin_add') }}">
                                            <button class="btn  btn--yes btn-primary">Add Admin</button>

                                        </form>





{% endblock %}