<!-- New Product Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Category Information</h5>
                                            </div>
                                            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                                            {{ form_row(form._token) }}
                                            <form class="theme-form theme-form-2 mega-form">
                                                
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Nom</label>
                                                    <div class="col-sm-9">
                                                            <fieldset>
                                                                {{ form_row(form.nom, {'attr': {'class': 'form-control','placeholder': "Nom de categorie"}})}}
                                                            </fieldset>
                                                    </div>
                                                </div>
                                                

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Code</label>
                                                    <div class="col-sm-9">
                                                            <fieldset>
                                                                {{ form_row(form.code, {'attr': {'class': 'form-control','placeholder': "Code de categorie"}})}}
                                                            </fieldset>
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Description</label>
                                                    <div class="col-sm-9">
                                                            <fieldset>
                                                                {{ form_row(form.description, {'attr': {'class': 'form-control','placeholder': "Description de categorie"}})}}
                                                            </fieldset>
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">Category
                                                        Image</label>
                                                    <div class="form-group col-sm-9">
                                                        <div class="dropzone-wrapper">
                                                            <div class="dropzone-desc">
                                                                <i class="ri-upload-2-line"></i>
                                                                <p>Choose an image file or drag it here.</p>
                                                            </div>
                                                            <input type="file" class="dropzone">
                                                            
                                                        </div>
                                                        {{ form_row(form.image) }}
                                                    </div>
                                                </div>

                                                <form class="d-inline-flex">
                                                <button class="align-items-center btn btn-theme d-flex">{{ button_label|default('Save') }}</button>
                                        </form>

                                            
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Product Add End -->
                {{ form_rest(form) }}
                 {{ form_end(form) }}

                




