{% extends 'base.html.twig' %}

{% block title %}Depense index{% endblock %}

{% block body %}
    <h1>Depense index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Description</th>
                <th>TotalParMois</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for depense in depenses %}
            <tr>
                <td>{{ depense.id }}</td>
                <td>{{ depense.prix }}</td>
                <td>{{ depense.date ? depense.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ depense.etat }}</td>
                <td>{{ depense.description }}</td>
                <td>{{ depense.totalParMois }}</td>
                <td>
                    <a href="{{ path('app_depense_show', {'id': depense.id}) }}">show</a>
                    <a href="{{ path('app_depense_edit', {'id': depense.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_depense_new') }}">Create new</a>
{% endblock %}
